nav {
 height: 120px; 
 background-color: #4056A1;
 color: #FFFF;
 padding: 1.5em;
 display: flex;
 position: sticky;
 top: 0;
}

nav > span {
  font-family: 'Bungee', cursive;
  font-size: 30px;
  margin-top: 5px;
}

.navItem {
  margin-left: auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  padding-right: 1.5em;
  flex-direction: column;
  flex-wrap: wrap;
}

.arrow_down_icon {
  height: 30px;
  margin-left: 1em;
  color: salmon;
}