nav {
 height: 120px; 
 background-color: #4056A1;
 color: #FFFF;
 padding: 1.5em;
 display: flex;
 position: fixed;
 top: 0;
 width: 100%;
 z-index: 100;
 transition: 0.4s;
}

nav > span {
  font-family: 'Bungee', cursive;
  font-size: 30px;
  margin-top: 5px;
}

.shrink-navbar{
  height: 80px;
  transition: 0.4s;
}

.nav-item {
  margin-left: auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  padding-right: 1.5em;
  flex-direction: column;
  flex-wrap: wrap;
}

.arrow-down-icon {
  height: 30px;
  margin-left: 1em;
  color: salmon;
}

.arrow-down-icon:hover {
  cursor: pointer;
}

.logo:hover {
  cursor: pointer;
}

.nav-span:hover {
  cursor: pointer;
}