#new-tweet {
  text-align: center;
  width: 100%;
 }

 #tweet-text {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #4d4d4d;
  outline: 0;
  background: transparent;
  line-height: 1em;
  margin-top: 1em;
  resize: none;
  transition: 0.3s;
 }

 .submit-button {
  font-family: 'Bungee', cursive;
  color: white;
  background-color: #4056A1;
  border: none;
  border-radius: 5px;
 }
 
 .submit-button:hover {
   cursor: pointer;
 }

 .counter {
  font-family: 'Bungee', cursive;
 }

 .counter-red {
  color: red;
 }

 .tweet-form-footer {
   margin: 1% 0;
   display: flex;
   justify-content: space-between;
 }

 .error-message {
   color: red;
   opacity: 0;
   transition: 0.3s;
 }